body{
    background-color: #999999;
}
.container_geral{
    display: flex;
    border: 1px solid #666666;
    box-shadow: 5px 5px 15px -8px #000;
    
}
nav{
    float: left;
    width: 30%;
    background: linear-gradient(to bottom, #000, #003cff);
}
nav ul li{
    list-style-type: none;
    margin-bottom: 10px;

}
nav a{
    text-decoration: none;
    color: gold;
}

main{
    float: right;
    width: 70%;
    background-color: #fff;
    padding: 5px;
    
}
/*para responsividade no celular com maximo 375px*/
@media (max-width: 375px) {
    .container_geral{
        display: block;
    }
    nav{
        float: none;
        width: 100%;
        text-align: center;
    }
    main{
        float: none;
        width: 100%;
        padding: 0px;
    }
    
}